*{
    margin:0px; 
    padding:0px;
}

body{
    font-family:"Gabarito", serif;
}
    
.navbar{
     
    display:flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap:10px;
    position: sticky;
    top:0px;
    background-color: white;
    z-index: 1;
}
.section__s1__title{
    color:#C178F6;
    align-items: center;
}
.section__s2 {
    padding: 10px;
    border: solid black 2px;
    width:60%;
    border-radius: 30px;
    display: flex;
    gap:10px;
    align-items: center;
   
}
.section__s2 input{
    width:60%;
    border:none;
    font-size:16px;
    background: transparent;
    
    
    
}
.section__s2 input:focus{
    outline: none; 
}
.section__s3
{
    display: flex;
    gap:10px;
    align-items: center;

}
.section__s3__Mylearning
{
    position: relative;
    cursor: pointer;
}
.section__s3__Mylearning__popupmsg
{
    position: absolute;
    background-color: white;
    border:solid black 2px;
    width:100px;
    top:150%;
    padding: 10px;
    right:0;
    display:none;
    
}
.section__s3__Mylearning:hover .section__s3__Mylearning__popupmsg
{
    display:block;
}
.container{
    display: flex;
    padding:10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
}
.container h3{
    background-color: #C178F6;
    color:white;
    border-radius: 30px;
     padding:10px;
     border:solid black 1px ;
}
.container h3:hover{
    background-color: transparent;
    color:black;
    transition: 1s;
}

.sale-image
{
    position: relative;
}
.sale-image__offer
{
    width: 25%;
    border: solid black 3px;
    padding:10px;
    position:absolute;
    top:20%;
    left:10% ;
    background-color: white;
    animation-name: colorchange;
    animation-duration: 2s;
    animation-delay: 3s;
    opacity: 0;
     animation-fill-mode:forwards;  
     
     
}
@keyframes colorchange {
    0%{
        transform:scale(0);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}
.Recommandation{
    padding:10px;
    
}
.Recommandation__container
{

display: flex;
justify-content: space-around;

}
.Container1_title{
    width:20%;
}

.Container1_title img{
    width:100%;
    height:50%;
    
}
.Topics
{
    padding:10px;
    
}
.Topics_container
{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    padding:10px;
    margin-top: 10px;

}
.Topics_container p{
    border: solid grey 2px;
    padding:10px;
    flex-grow: 1;
    flex-basis: 25%;

}
.Popular{
padding:10px;
}
.Popular__container
{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}
.Popular__container_im
{
    flex-grow: 1;
    flex-basis: 25%;
   

}
.Popular__container img
{
    width:250px;
    height:200px;
   
}
.Footer
{
    background-color: black;
    color:white;
    margin-top:10px;
    Padding:30px;
}
.Footer_sec_one
{
    display: flex;
    gap:20px;
}
.Footer_sec_one p{
    margin:20px;
}

.Footer_sec_two
{
    display:flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}










